<style>
    .banner {
        display: block;
        margin: 4rem 2rem;
        width: 65rem;
        text-align: center;
    }
    .banner p {
        font-size: x-large;
        color: white;
        margin: 30px;
        text-align: center;
    }

    .banner h3 {
        color: #e38648;
        font-size: 4rem;
        margin: 10px 10px 3rem;
    }

    .banner h2 {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px white;
        font-size: 5rem;
        margin: 10px;
    }

   
</style>

<section class="banner">
    <h2>BUILD YOUR BODY</h2>
    <h3>Transform your life</h3>
    <p>
        At Power World Gym, we believe that fitness is a lifestyle. Our passion for fitness and commitment to our
        members sets us apart from other gyms. Our trainers are certified experts in their field and they will work
        with you to create a personalised fitness plan based on your goals. Whether you're a beginner or a pro, we
        have the tools and knowledge to help you succeed.</p>
</section>

<script>

</script>