<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"
        integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/common.css">

    {{style}}

    <style>
        .sidebar ul li {
            margin: 35px 0;
        }
    </style>

</head>

<body>

    <aside class="sidebar">
        <div>
            <h1>POWERGYM</h1>
        </div>

        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/profile">PROFILE</a></li>
            <li><a href="/paymenthis">PAYMENT HISTORY</a></li>
            <li><a href="/changeTrainning">TRAINING PROGRAM</a></li>
            <li><a href="/notification">NOTIFICATIONS</a></li>
            <li><button class="Logout" onclick="logout()">Logout</button></li>
        </ul>
    </aside>

    <main>
        {{content}}
    </main>


    <script>
        const members_url = "http://localhost:5143/api/Member";
        const payments_url = "http://localhost:5143/api/Payment";
        const trainingPrograms_url = "http://localhost:5143/api/TrainingProgram";
        const pendingEdits_url = "http://localhost:5143/api/Pendingeditsontroller";
        const pendingProgramEdits_url = "http://localhost:5143/api/PendingProgram";
        const notifications_url = "http://localhost:5143/api/Notification";

        let members = [];
        let payments = [];
        let trainingPrograms = [];
        let pendingEdits = [];
        let pendingProgramEdits = [];
        let notifications = [];
        let pending_payments = [];

        async function post_api(url, arr) {
            try {
                const response = await fetch(url, {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(arr)
                });
                if (response) {
                    console.log(response);
                }
            }
            catch (error) {
                console.log(error);
            }
        }

        async function delete_api(url, id) {
            try {
                const response = await fetch(`${url}/${id}`, {
                    method: "DELETE"
                });
                if (response) {
                    console.log(response);
                }
            }
            catch (error) {
                console.log(error);
            }
        }

        async function put_api(url, id, arr) {
            try {
                const response = await fetch(`${url}/${id}`, {
                    method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(arr)
                })
                if (response) {
                    console.log(response);
                }
            }
            catch (error) {
                console.log(error);
            }
        }

        const loggedinuser = JSON.parse(localStorage.getItem("loggedinuser"));
        console.log(loggedinuser);

        async function logout() {
            console.log(loggedinuser.memberId);
            try {
                localStorage.removeItem("loggedinuser");
                location.href = "/"
            }
            catch (error) {
                console.error('Error logging out:', error);
            }
        }

    </script>

    {{script}}

</body>

</html>